*{
    box-sizing: border-box;
}
:root {
	--color-light: #f8f9fa;
	--color-medium: #e8e8e8;
	--color-dark: #a1a1a1;
	--color-unaccent: #808080;
	--color-white: #fff;
	--color-error-light: #f26b6b;
	--color-error-dark: #d65c5c;

	--spacing-small: 10px;
	--spacing-medium: 15px;
	--spacing-large: 30px;

	--border-radius: 3px;
	--linear-gradient: linear-gradient(to right, #e2f87c, #d6f567, #c8f151, #b9ee38, #a8eb12);
	--box-shadow: 
		0 16px 24px 2px rgba(33,37,41,.02), 
		0 6px 30px 5px rgba(33,37,41,.04), 
		0 8px 10px -5px rgba(33,37,41,.1);
}

body{
    background: #f1f1f1;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #000;
}

h1{
    font-size: 48px;
    font-weight: 700;
    margin: 0 0 48px 0;
    line-height: 1.2;
}
.btn{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    border-radius: 40px;
    background: linear-gradient(273deg, #E08686 29.95%, rgba(223, 146, 146, 0.49) 78.58%);
    box-shadow: 0px 9px 35px 0px rgba(224, 115, 194, 0.58);
    padding: 27px 97px;
    font-size: 24px;
    border-bottom: 2px solid #ba848d
}

.layout{
    flex: 1 0 auto;
    overflow-x: hidden;
}

.container{
    max-width: 1170px;
    padding: 0 20px;
    margin: 0 auto;
}

.page-header{
    padding: 10px 0;
    background: #fff;
    margin-bottom: 40px;
}
.page-header__wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    display: inline-flex;
    align-items: center;
    color: #000;
    text-decoration: none;
}
.logo__icon{
    width: 55px;
    height: 55px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.18));
    background: #D3BF8B;
    border-radius: 10px;
}
.logo-icon img{
    max-width: 100%;
}
.logo-msg{
    font-size: 24px;
    font-weight: 900;
}
.page-nav{
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-evenly;
    margin-right: 40px;
}
.page-nav a{
    font-size: 20px;
    color: #000;
    text-decoration: none;
    transition: all .25s ease;
    position: relative;
}
.page-nav a:last-child{
    margin-right: 0;
}
.page-nav a.active{
    font-weight: 600;
}
.page-nav a.active:after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: rgba(210, 88, 88, 0.68);
    position: absolute;
    bottom: -10px;
    left: 0;
    opacity: 1;
}
.page-nav a:after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: rgba(210, 88, 88, 0.68);
    position: absolute;
    bottom: -10px;
    left: 0;
    opacity: 0;

    transition: all .25s ease;
}

.page-nav a:hover:after{
    opacity: 1;
}
.top-cart{
    display: flex;
    align-items: flex-end;
    padding-right: 39px;
    position: relative;
    color: #000;
    text-decoration: none;
    transform: translateY(-21px);
}
.top-cart:after{
    content: "";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 16px 12.5px 0 12.5px;
    border-color: #000000 transparent transparent transparent;
    transform: rotate(0deg);
    position: absolute;
    right: 0;
    bottom: 3px;
    
}
.top-cart-icon{
    width: 57px;
    height: 57px;
    background: #000;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 9px;
}
.top-cart-icon img{
    display: block;
    max-width: 100%;
}
.top-cart-sum{
    font-size: 20px;
}


.page-wrap{
   
    padding-bottom: 40px;
}
.page-info{
    width: 520px;
    min-width: 520px;
    padding: 100px 30px 100px 0;
}
.page-subinfo{
    font-size: 24px;
    margin-bottom: 39px;
}

.page-img img{
    display: block;
}
.menu-mobile{
    display: none;
}

.burger-icon {
	display: block;
	position: relative;
	margin-top: 8px;
	margin-bottom: 8px;
	width: 30px;
	height: 3px;
	background-color: #000;
	transition: all .3s ease;
	
}
.burger-icon:before,
.burger-icon:after{
    display: block;
    width: 30px;
    height: 3px;
    background-color: #000;
    transition: all .3s ease;
    position: absolute;
    content: "";
}
.burger-icon:before{
    top: -8px;
}
.burger-icon:after{
    top: 8px;
}


.list{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.list__item{
    width: 25%;
    padding: 0 15px;
    margin-bottom: 30px;
}
.list__in{
    background: #fff;
    width: 100%;
    height: 100%;
    padding: 25px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-shadow: 0 16px 24px 2px rgba(33,37,41,.02), 
    0 6px 30px 5px rgba(33,37,41,.04), 
    0 8px 10px -5px rgba(33,37,41,.1);
}
.list__btn.active,
.list__btn:hover{
    border: 1px solid transparent;
    background-image: var(--linear-gradient);
}

.list__img{
    margin-top: 20px;
    height: 270px;
    display: flex;
    justify-content: center;
}
.list__img img{
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.list__title{
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.2;
    font-size: 18px;
    margin-bottom: auto;
}
.list__price{
    margin: 20px 0;
    color: #808080;
    padding-left: 40px;
    position: relative;
}
.list__price:before,
.shopping__price:before{
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: url("data:image/svg+xml,%0A%3Csvg fill='%23D3BF8B' height='800px' width='800px' version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 230.562 230.562' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath d='M228.334,122.532L121.725,15.924c-1.02-1.02-2.308-1.73-3.715-2.044L58.156,0.471c-2.546-0.573-5.202,0.203-7.043,2.044 L2.228,51.403c-1.864,1.864-2.63,4.56-2.024,7.127l13.982,59.278c0.325,1.375,1.027,2.633,2.026,3.634l106.611,106.606 c1.428,1.428,3.36,2.229,5.379,2.229c2.019,0,3.954-0.801,5.379-2.229l94.749-94.754 C231.306,130.324,231.306,125.505,228.334,122.532z M128.203,211.91L28.5,112.208L15.987,59.163l42.925-42.93l53.612,12.011 l99.669,99.667L128.203,211.91z'/%3E%3Cpath d='M86.401,45.544c-5.42-5.42-12.623-8.402-20.284-8.402s-14.865,2.985-20.284,8.402c-11.182,11.187-11.182,29.384,0,40.569 c5.417,5.417,12.623,8.4,20.284,8.4s14.865-2.983,20.284-8.402C97.581,74.926,97.581,56.729,86.401,45.544z M75.64,75.349 c-2.544,2.544-5.927,3.944-9.523,3.944s-6.98-1.4-9.523-3.944c-5.25-5.25-5.25-13.797,0-19.049 c2.544-2.544,5.927-3.946,9.523-3.946s6.98,1.403,9.523,3.944C80.887,61.555,80.887,70.099,75.64,75.349z'/%3E%3Cpath d='M105.506,92.869l-10.857,10.857l5.23,5.227c-6.749,9.724-6.807,19.754-0.003,26.554 c3.632,3.632,7.636,5.473,11.907,5.473h0.003c6.886-0.003,13.416-4.76,19.498-9.625c4.522-3.563,7.989-5.372,10.305-5.372 c0.9,0,1.578,0.271,2.189,0.885c0.893,0.893,1.978,2.412,1.131,5.306c-0.654,2.234-2.359,4.809-4.798,7.246 c-4.208,4.208-10.771,6.404-14.652,4.824l-2.356-0.959l-5.793,14.329l2.359,0.949c2.876,1.151,5.861,1.74,8.874,1.74 c5.671-0.003,11.405-2.062,16.708-5.975l5.64,5.64l10.857-10.855l-5.922-5.919c5.739-7.89,7.811-19.316-0.621-27.751 c-3.743-3.743-7.915-5.64-12.404-5.64c-7.251,0-13.995,4.791-20.845,10.135c-2.83,2.234-6.711,5.29-9.209,5.29 c-0.687,0-1.238-0.249-1.793-0.801c-0.789-0.789-1.593-1.996-0.804-4.367c0.647-1.953,2.214-4.208,4.532-6.526 c2.82-2.825,7.048-4.798,10.282-4.798c0.495,0,0.946,0.051,1.339,0.147l2.204,0.545l4.996-13.609l-2.452-0.842 c-6.883-2.364-13.323-1.403-20.274,3.168L105.506,92.869z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E") center/contain no-repeat;
}
.list__btn{
    padding: var(--spacing-small) var(--spacing-medium);
    border: 1px solid var(--color-unaccent);
    border-radius: var(--border-radius);
    cursor: pointer;
    outline: none;
    background: none;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
    color: #000;
    text-align: center;
    transition: all .25s ease;
}
.list__btn .active{
    border: 1px solid transparent;
    background-image: var(--linear-gradient);
}

.cart-counter{
    cursor: pointer;
    font-weight: 600;
}

.shopping__list{
    margin: 0;
}
.shopping__item{
    margin: 0 0 20px 0;
}
.shopping__item:last-child{
    margin: 0;
}
.shopping__title{
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.2;
    font-size: 16px;
}
.shopping__price{
    margin: 12px 0;
    color: #808080;
    padding-left: 40px;
    position: relative;
}

.popup-shopping{
    position: fixed;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #fff;
    padding: 30px 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 19;
    opacity: 0;
    visibility: hidden;
    transition: all .35s ease;
}
.popup-shopping.active{
    opacity: 1;
    visibility: visible;
}

.shopping__close{
    position: absolute;
    right: 20px;
    top: 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("data:image/svg+xml,%3Csvg height='512px' style='enable-background:new 0 0 512 512;' version='1.1' viewBox='0 0 512 512' width='512px' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpath d='M443.6,387.1L312.4,255.4l131.5-130c5.4-5.4,5.4-14.2,0-19.6l-37.4-37.6c-2.6-2.6-6.1-4-9.8-4c-3.7,0-7.2,1.5-9.8,4 L256,197.8L124.9,68.3c-2.6-2.6-6.1-4-9.8-4c-3.7,0-7.2,1.5-9.8,4L68,105.9c-5.4,5.4-5.4,14.2,0,19.6l131.5,130L68.4,387.1 c-2.6,2.6-4.1,6.1-4.1,9.8c0,3.7,1.4,7.2,4.1,9.8l37.4,37.6c2.7,2.7,6.2,4.1,9.8,4.1c3.5,0,7.1-1.3,9.8-4.1L256,313.1l130.7,131.1 c2.7,2.7,6.2,4.1,9.8,4.1c3.5,0,7.1-1.3,9.8-4.1l37.4-37.6c2.6-2.6,4.1-6.1,4.1-9.8C447.7,393.2,446.2,389.7,443.6,387.1z'/%3E%3C/svg%3E") center/cover no-repeat;
}
.shopping__close:hover{
    background: url("data:image/svg+xml,%3Csvg height='512px' style='enable-background:new 0 0 512 512;' version='1.1' viewBox='0 0 512 512' width='512px' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpath fill='%23a8eb12' d='M443.6,387.1L312.4,255.4l131.5-130c5.4-5.4,5.4-14.2,0-19.6l-37.4-37.6c-2.6-2.6-6.1-4-9.8-4c-3.7,0-7.2,1.5-9.8,4 L256,197.8L124.9,68.3c-2.6-2.6-6.1-4-9.8-4c-3.7,0-7.2,1.5-9.8,4L68,105.9c-5.4,5.4-5.4,14.2,0,19.6l131.5,130L68.4,387.1 c-2.6,2.6-4.1,6.1-4.1,9.8c0,3.7,1.4,7.2,4.1,9.8l37.4,37.6c2.7,2.7,6.2,4.1,9.8,4.1c3.5,0,7.1-1.3,9.8-4.1L256,313.1l130.7,131.1 c2.7,2.7,6.2,4.1,9.8,4.1c3.5,0,7.1-1.3,9.8-4.1l37.4-37.6c2.6-2.6,4.1-6.1,4.1-9.8C447.7,393.2,446.2,389.7,443.6,387.1z'/%3E%3C/svg%3E") center/cover no-repeat;
}

.shopping__total{
    padding: 0 0 0 40px;
    margin: 40px 0 0;
    text-transform: uppercase;
    font-weight: 700;
}

.spinner{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}
.spinner img{
    display: block;
    max-width: 150px;
}
.error{
    font-weight: 700;
    font-size: 24px;
}

@media screen and (max-width:1180px){
    .page-img img{
        max-width: 100%;
    }
    .page-nav {
        margin: 0 20px;
    }
}

@media screen and (max-width:1140px){
    .list__item {
        width: 33.333%;
    }
}

@media screen and (max-width:991px){
    /* .page-header {
        padding: 30px 0;
    } */
    h1 {
        font-size: 38px;
    }
    .page-subinfo {
        font-size: 18px;
    }
    .page-info{
        width: 50%;
        min-width: unset;
    }
    .page-img{
        width: 50%;
    }
    .page-nav a {
        font-size: 16px;
    }
    .btn{
        padding: 20px 40px;
        font-size: 20px;
    }
    .logo-icon {
        width: 45px;
        height: 45px;
        margin-right: 15px;
    }
    .top-cart {
        padding-right: 25px;
        transform: translateY(-13px);
    }
    .top-cart-icon {
        width: 48px;
        height: 48px;
        margin-right: 5px;
    }
    .top-cart:after {
        border-width: 9px 5.5px 0 5.5px;
        bottom: 8px;
    }
}

@media screen and (max-width:768px){
    
    .page-info {
        width: 100%;
        padding: 40px 0;
        text-align: center;
    }
    .page-img {
        width: 100%;
    }
    .page-nav,
    .top-cart{
        display: none;
    }
    .menu-mobile{
        display: inline-block;
    }
    .list__item {
        width: 50%;
    }
}

@media screen and (max-width:600px){
    .list{
        flex-direction: column;
    }
    .page-header {
        padding: 13px 0;
    }
    .btn {
        padding: 20px;
        width: 100%;
        max-width: 320px;
    }
    .list__item {
        width: 100%;
    }
    .shopping__list {
        padding-left: 20px;
    }
    .popup-shopping {
        padding: 45px 15px 30px;
    }
    .shopping__total {
        padding: 0 0 0 20px;
        margin: 35px 0 0;
    }
}